# log files
*.log
**/*.log

# ignore the .vscode directory
.vscode
**/.vscode

.vs
**/.vs

#ignore the .dSYM directory
*.dSYM
**/*.dSYM

#ignore the all the .DS_Store directory
*.DS_Store
**/*.DS_Storet
